services:
  example:
    image: paulbouwer/hello-kubernetes:1
    environment:
      - VIRTUAL_HOST={{ svc_config.hostname }}
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST={{ svc_config.hostname }}
    restart: unless-stopped
    networks:
      - reverse-proxy_reverse-proxy

networks:
  reverse-proxy_reverse-proxy:
    external: true
